/* portfolio/src/BasicLayout.css */
.container {
    display: flex;
    justify-content: center;
    height: 100vh; /* 전체 화면 높이 */
}

.sidebar {
    width: 500px; /* 사이드바 너비 */
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; /* 세로 방향으로 배치 */
}

main {
    flex: 1; /* 남은 공간을 차지 */
    display: flex; /* 메인 콘텐츠 내부에서 가로로 배치 */
    justify-content: center;
    flex-direction: column; /* 세로 방향으로 배치 */
    padding: 20px;
}

.project-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
}

.footer {
    background-color: #f8f9fa;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* 푸터를 하단에 고정 */
}

#myselfPhoto {
  width: 300px;            /* 이미지 너비 */
  height: 300px;           /* 이미지 높이 (너비와 같아야 원형이 됩니다) */
  border-radius: 50%;      /* 원 모양 만들기 */
  object-fit: cover; 
}